<h1>Comment</h1>
<%= @comment.content %>

<div class="controls">
  <%= link_to 'Edit comment', edit_post_comment_path(@comment.post, @comment) %>
  <%= link_to 'Delete comment', edit_post_comment_path(@comment.post, @comment), :method => :delete, :data => { :confirm => 'Are you sure?'} %>
</div>