<a id="markdown-help" tabindex="0" class="btn btn-xs" role="button" data-toggle="popover" title="Markdown help" data-html="true" data-container="#popoverWrapper" data-content="
<p class=&quot;text-center&quot;>When creating a post/comment, write any text in <a href=&quot;https://en.wikipedia.org/wiki/Markdown&quot; target=&quot;_blank&quot;>markdown</a> in the content area below and it will automatically be converted to what you see in the live preview section. The following table lists a subset of <a href=&quot;http://spec.commonmark.org/0.24&quot; target=&quot;_blank&quot;>what can be done</a> in markdown:</p>

<div class=&quot;table-responsive&quot;>
  <table class=&quot;table-condensed table-bordered&quot;>
    <tr>
      <th>Markdown</th>
      <th>Output</th>
    </tr>
    <tr>
      <td>Text on<br><br>multiple lines</td>
      <td>Text on<br>multiple lines</td>
    </tr>
    <tr>
      <td>[link](http://example.com &quot;Title&quot;)<br>www.google.com</td>
      <td><a href=&quot;http://example.com&quot; title=&quot;Title&quot;>link</a><br><a href=&quot;www.example.com&quot;>www.example.com</a></td>
    </tr>
    <tr>
      <td>*Emphasize* _Emphasize_ <br> **Strong** __Strong__ <br> ~~boo boo~~</td>
      <td><em>Emphasize</em> <br> <strong>Strong</strong> <br> <s>boo boo</s></td>
    </tr>
    <tr>
      <td>![Bill](http://fillmurray.com/100/100)</td>
      <td><img src=&quot;http://fillmurray.com/100/100&quot;></td>
    </tr>
    <tr>
      <td>Asterisk/dash: <br> * Item <br> * Item <br> - Item <br> - Item <br></td>
      <td><ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
      </ul></td>
    </tr>
    <tr>
      <td>1. Item <br>2. Item <br> &nbsp;&nbsp; * sub item</td>
      <td><ol>
        <li>Item</li>
        <li>Item</li>
        <ul><li>sub item</li></ul>
      </ol></td>
    </tr>
    <tr>
      <td>`inlline code`</td>
      <td><code>inline code</code></td>
    </tr>
    <tr>
      <td>
  ```css<br>
  #button { <br>
    border: none; <br>
  } <br>
  ```</td>
      <td>
  <pre><code class=&quot;language-css&quot;><span class=&quot;line&quot;><span class=&quot;id&quot;><span class=&quot;id&quot;>#button</span></span> <span class=&quot;rules&quot;><span class=&quot;rules&quot;>{
</span></span></span><span class=&quot;line&quot;><span class=&quot;rules&quot;><span class=&quot;rule&quot;><span class=&quot;attribute&quot;><span class=&quot;rules&quot;><span class=&quot;rule&quot;><span class=&quot;attribute&quot;>border</span></span></span></span><span class=&quot;rules&quot;><span class=&quot;rule&quot;>:</span></span><span class=&quot;value&quot;><span class=&quot;rules&quot;><span class=&quot;rule&quot;><span class=&quot;value&quot;> none</span></span></span></span></span><span class=&quot;rules&quot;>;
</span></span></span><span class=&quot;line&quot;><span class=&quot;rules&quot;><span class=&quot;rule&quot;><span class=&quot;rules&quot;><span class=&quot;rule&quot;>}</span></span></span></span></span></code></pre>
      </td>
    </tr>
    <tr>
      <td># Header 1 <br> ## Header 2</td>
      <td><h1>Header 1</h1><br><h2>Header 2</h2></td>
    </tr>
    <tr>
      <td>First name | Last name <br> --- | --- <br> Bill | Murray</td>
      <td>
<table>
<thead>
<tr>
<th>First name</th>
<th>Last name</th>
</tr>
</thead>
<tbody>
<tr>
<td>Bill</td>
<td>Murray</td>
</tr>
</tbody>
</table>
      </td>
    </tr>
  </table>
</div>
">Markdown help?</a>