/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require tomorrow
 *= require_tree .
 *= require_self
 */

div.preview {
  overflow: auto;
  border: 1px solid grey;
  background-color: rgb(250,250,250);
  padding: 0.5em;
}

div.preview, textarea.md-input {
  height: 50vh;
}

textarea.md-input {
  resize: none;
}

.clearfix:after {
  content: " ";
  clear: both;
}

.content-html table,
.popover-content table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

.content-html table, .content-html th, .content-html td,
.popover-content table, .popover-content th, .popover-content td {
    border: 1px solid black;
}

.content-html th, .content-html td,
.popover-content th, .popover-content td {
  padding: 0.5em;
}

.content-html img,
.popover-content img {
  max-width: 25%;
}

.content-html pre, .content-html code {
  display: inline-block;
}

.popover {
    max-width: 100%; // Max Width of the popover (depending on the container!)
}

.popover-content {
    height: 90vh;
    overflow:auto;
}

.popover-content table {
  margin: 0 auto;
}
